<footer class="bg-dark py-5">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-3">
                <h3>
                    <b>MovieApp</b>
                    <hr style="color: #fff;">
                </h3>
            </div>
            <div class="col-md-2">
                <h3>Linkler</h3>
                <hr>
                <ul class="list-unstyled">
                    <li class="text-muted mb-3"></li>
                    <li><a asp-controller="Home" asp-action="Index" style="color: #fff;">Home</a></li>
                    <li><a  asp-controller="Movie" asp-action="List" style="color: #fff;">Movie</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Hakkımızda</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis ducimus ea exercitationem inventore, ipsa laborum molestiae nisi perferendis porro quibusdam rem, rerum sint soluta temporibus ullam voluptas. Magnam, obcaecati!</p>
            </div>
            <div class="col-md-4 text-right">
                
                <i class="fab fa-facebook-square fa-2x mx-3" aria-hidden="true"></i>
                <i class="fab fa-instagram fa-2x mx-3" aria-hidden="true"></i>
                <i class="fab fa-twitter-square fa-2x mx-3" aria-hidden="true"></i>
                <i class="fab fa-linkedin fa-2x mx-3" aria-hidden="true"></i>
                <hr>


            </div>
        </div>
    </div>
</footer>