@model IEnumerable<MoviappUygulaması.Models.Movie>
 @foreach (var movie in Model)
 {
     <div class="col-md-4">
         <div class="card mb-4 shadow-sm">
             <div class="card-body">
                 <img  width="100%" height="250px" src="~/img/@movie.Image"/>
                 <p class="card-text">@movie.Name</p>
                 <div class="card-footer text-muted">
                     <a asp-action="Details"  asp-controller="Home" asp-route-id="@movie.ID" class="btn btn-primary" style="color: #ffffff;">Details</a>
                 </div>
                 <div class="d-flex justify-content-between align-items-center">
                                
                     <small class="text-muted">9 mins</small>
                              
                                    
                 </div>
             </div>
         </div>
     </div>
 }