@model IEnumerable<Category>

<div class="list-group" style="width: 18rem; margin-top: 80px;  margin-left: 20px">
    
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item list-group-item-action active">
            @item.Name
        </a>
    }
   

</div>